body {
  background-color: #cc6666;
}

div {
  width: 100%;
  text-align: center;
}

nav {
    background-color: #2574a9;
    width: 90%;
    margin:0 auto;
    list-style:none;
    }
    #nav li {
    float:left;
    }
    #nav a {
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none;
}

li {
    display: inline;
    float: left;
}

nav a {
    width: 150px;
    display: block;
    padding: 8px;
    background-color: #2574a9;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
